body {
    background-color: lightblue;
  }
  
h1 {
    color: navy;
    margin-left: 20px;
  }

html {
    font-family: "Lucida Sans", sans-serif;
  }
  
.header {
    background-color: purple;
    color: white;
    padding: 15px;
  }

@media (max-width: 500px) {
    .main-container {
        width: 100%;
    }

    nav > a > img {
        width: 40px;
        height: 40px;
    }

    nav > a > span {
        display: none;
    }

    main {
        margin: 5px 15px;
    }
    
}

nav{
    display: flex;
    flex: 1; 
    justify-content: space-evenly;
}

.topnav {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
  }
  
  navbar{
      text-align: center;
  }

  .topnav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }
  
 
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  

  .topnav a.active {
    background-color: black;
    color: white;
  }

@media (min-width: 501px) and (max-width: 990px) {
    .main-container {
        width: 90%;
    }

    main {
        margin: 5px 40px;
    }

    nav > a > img {
        width: 30px;
        height: 30px;
    }

    nav > a > span {
        font-size: 12px;
    }
}
